.header {
    position: absolute;
    width: 100%;
    z-index: 20;
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
        margin: 0 auto;
    }

    .headroom {
        padding: 15px 0;
        &--pinned {
            background: $white;
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
            .logo {
                color: black;
            }
            .bm-burger-bars {
                background: $gray-900;
            }
        }
        &--unfixed {
            position: fixed !important;
            .logo {
                color: white;
                .dark-header & {
                    color: black;
                }
            }
            .bm-burger-bars {
                .dark-header & {
                    background: $gray-900;
                }
            }
        }
        
    }
}

.logo {
    font-size: 27px;
    font-family: $primary-font-bold;
    color: white;
}
