.header {
    // background: rgba($color: #ffffff, $alpha: 0);
    // transition: 1000ms ease-in-out background;
    padding: 15px 0;
    &-container {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &.active {
        // background: rgba($color: #ffffff, $alpha: 0.7);
        .logo {
            .project-page &,
            .blog-page & {
                color: black;
            }
        }
        .bm-burger-bars {
            .project-page &,
            .blog-page & {
                background: black;
            }
        }
    }
}

.logo {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
    display: block;
    color: black;
    margin-left: 5%;
    transition: 1000ms ease-in-out color;
    .project-page &,
    .blog-page & {
        color: white;
    }
    &:hover {
        color: green;
        text-decoration: none;
    }
}
