.header {
    position: absolute;
    width: 100%;
    z-index: 20;
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .headroom {
        padding: 15px 0;
        &--pinned {
            background: #131313;
        }
        &--unfixed {
            position: fixed !important;
            .logo {
                color: white;
                .dark-header & {
                    color: black;
                }
            }
            .bm-burger-bars {
                .dark-header & {
                    background: #131313;
                }
            }
        }
        
    }
}

.logo {
    font-size: 27px;
    font-family: $primary-font-bold;
    color: white;
}
