.blog {
    &__hero {
        .image {
            margin-bottom: 50px;
        }
    }
    &__sidebar {
        position: sticky;
        top: 20px;
        @media #{$breakpoint-sm-down} {
            text-align: center;
            margin-bottom: 20px;
        }
        
        .social-shares {
            display: flex;
            @media #{$breakpoint-sm-down} {
                justify-content: center;
            }
            .social--icons {
                margin-right: 7px;
                &:nth-last-child(1) {
                    margin-right: 0;
                }
            }
        }
    }
    &-post__content {
        p {
            &:first-child {
                @extend .leadin;
                @media #{$breakpoint-sm-down} {
                    font-size: 20px;
                    margin-bottom: 20px;
                    line-height: 28px;
                }
            }
        }
    }
}