header {
    width: 100%;
    z-index: 1;
    .home & {
        position: absolute;
        color: white;
    }
    .header {
        height: 66px;
        @media #{$breakpoint-md-up} {
            height: 100px;
        }
        &__line {
                border-bottom: 1px solid $border-secondary;
            .home & {
                border-bottom: 1px solid $border-primary;
            }
        }
        .logo {
            a {
                text-decoration: none;
                color: black;
                font-family: times;
                font-size: 41px;
                letter-spacing: -1px;
                @media #{$breakpoint-md-up} {
                    font-size: 52px;
                }
                span {
                    font-style: italic;
                }
                .home & {
                    color: white;
                }
            }
        }
    }
}

.nav {
    &--primary {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        @media #{$breakpoint-sm-down} {
            display: none;
        }
        li {
            font-size: 16px;
            margin-left: 40px;
            font-weight: 400;
            a {
                text-decoration: none;
                .home & {
                    color: white;
                }
            }
        }
    }
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 25px;
    height: 20px;
    right: 20px;
    top: 26px;
    @media #{$breakpoint-md-up} {
        display: none;
    }
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #000000;
    .home & {
        background: #ffffff;
    }
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
  }

  .bm-menu-wrap {
      top: 0;
  }