header {
    width: 100%;
    z-index: 1;
    .home & {
        position: absolute;
        color: white;
    }
    .header {
        height: 100px;
        &__line {
                border-bottom: 1px solid $border-secondary;
            .home & {
                border-bottom: 1px solid $border-primary;
            }
        }
        .logo {
            a {
                text-decoration: none;
                color: black;
                .home & {
                    color: white;
                }
            }
            font-family: times;
            font-size: 41px;
            letter-spacing: -1px;
            span {
                font-style: italic;
            }
        }
    }
}

.nav {
    &--primary {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        li {
            font-size: 16px;
            margin-left: 40px;
            font-weight: 400;
            a {
                text-decoration: none;
                .home & {
                    color: white;
                }
            }
        }
    }
}