.hero-slider__nav {
    background: green;
    .slick-track {
        .slick-slide {
            border-top: 4px rgba($color: #000000, $alpha: 0.1) solid;
            transition: 300ms border-top ease-out;
            &.slick-current {
                border-top: 4px black solid;
            }
        }
    }
}
