.hero-slider {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    color: white;
    background-color: black;
    .slick-slide {
        &:nth-of-type(2) {
            .hero-slider__main_image {
                background-image: url(https://lonelyplanetstatic.imgix.net/copilot/images/cGVuaW5zdWxhcy1sb25lbHktcGxhbmV0LmpwZ1dlZCBPY3QgMTAgMjAxOCAwODo0MDozNCBHTVQrMDAwMCAoVVRDKQ%3D%3D.jpg?q=40&w=2000&h=1125&fit=crop&fm=pjpg);
            }    
        }
    }
    &__main {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        div {
            height: 100%;
            .hero-slider__main_holder {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    height: 50%;
                    bottom: 0;
                    width: 100%;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+3,000000+100&0+3,1+100 */
                    background: -moz-linear-gradient(top, rgba(0,0,0,0) 3%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 3%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(0,0,0,0) 3%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
                }
                .hero-slider__main_content {
                    padding: 0 80px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 70%;
                    z-index: 1;
                    position: relative;
                    a {
                        color: #ffffff;
                        text-decoration: none;
                    }
                    h1 {
                        position: relative;
                        z-index: 2;
                    }
                    &_link {
                        border-top: 1px solid $border-primary;
                        height: initial;
                        width: 150px;
                        padding-top: 30px;
                    }
                }
                .hero-slider__main_image {
                    background-size: cover;
                    background-position: 50%;
                    position: relative;
                    animation: 15s ease-out 0s 1 bg-zoom;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
    &__nav {
        background: transparent;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 80px;
        z-index: 2;
        counter-reset: my-sec-counter;
        display: flex;
        align-items: center;
        &__content {
            padding: 0 46px;
            display: inline-flex !important;
            align-items: center;
            position: relative;
            height: 100%;
            h5 {
                margin: 0;
            }
            &::before {
                counter-increment: my-sec-counter;
                content: counter(my-sec-counter);
                position: absolute;
                left: 11px;
                font-size: 14px;
            }
            &::after {
                content: '';
                width: 20px;
                height: 20px;
                border: 1px solid white;
                border-radius: 3px;
                transform: rotate(45deg);
                position: absolute;
                left: 4px;
            }
        }
        .slick-list {
            width: 100%;
            .slick-track {
                border-top: 1px solid $border-primary;
                display: flex;
                align-items: center;
                .slick-slide {
                    border-top: 4px rgba($color: #ffffff, $alpha: 0.0) solid;
                    transition: 300ms border-top ease-out;
                    height: 120px;
                    & > div {
                        height: 100%;
                    }
                    div {
                        outline: 0;
                    }
                    &.slick-current {
                        border-top: 4px white solid;
                    }
                }
            }
        }
    }
}

@keyframes bg-zoom {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
  }