@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:600&display=swap');

@font-face {
  font-family:"Manrope3 Light";
  src:url("../fonts/Manrope3 Light 300.woff2") format("woff2"),
      url("../fonts/Manrope3 Light 300.woff") format("woff"),
      url("../fonts/Manrope3 Light 300.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"Manrope3 Bold";
  src:url("../fonts/Manrope3 Bold 700.woff2") format("woff2"),
      url("../fonts/Manrope3 Bold 700.woff") format("woff"),
      url("../fonts/Manrope3 Bold 700.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"Manrope3 Extra Bold";
  src:url("../fonts/Manrope3 ExtraBold 800.woff2") format("woff2"),
      url("../fonts/Manrope3 ExtraBold 800.woff") format("woff"),
      url("../fonts/Manrope3 ExtraBold 800.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?52koa');
  src:  url('../fonts/icomoon.eot?52koa#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?52koa') format('truetype'),
    url('../fonts/icomoon.woff?52koa') format('woff'),
    url('../fonts/icomoon.svg?52koa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-hammer:before {
  content: "\e996";
}

.icon-hammer {
  margin-bottom: 10px;
}