body {
    font-family: 'Silka regular';
}

.container {
    max-width: 90%;
    transition: 500ms ease-in-out all;
    @include media-breakpoint-up(md) {
        max-width: 76%;
    }
    &--large {
        margin: 0 20px;
    }
    .blog-page & {
        max-width: 66%;
    }
}

.spacer {
    padding-top: 40px;
    padding-bottom: 40px;
    @include media-breakpoint-up(md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &--top {
        padding-top: 120px;
    }
    &.no-top {
        padding-top: 0;
    }
    &.no-bottom {
        padding-bottom: 0;
    }
    &.no-padding {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.outer-container {
    background: white;
    min-height: 100vh;
}

.sidebar {
    width: 100%;
    position: fixed;
    z-index: 1200;
}

.main-content {
    width: 100%;
    padding-left: 0;
    min-height: 100vh;
    background: white;
}