.h1 {
  font-size: 37px;
  line-height: 41px;
  font-family: $primary-font-ex-bold;
  letter-spacing: -1px;
  margin: 0 0 15px 0;
  @include media-breakpoint-up(md) {
    font-size: 54px;
    line-height: 68px;
    margin: 0 0 30px 0;
  }
}

.h2 {
  font-size: 34px;
  line-height: 37px;
  font-family: $primary-font-bold;
  margin: 0 0 20px 0;
  letter-spacing: -1px;
  @include media-breakpoint-up(md) {
    font-size: 45px;
    line-height: 60px;
    margin: 0 0 40px 0;
  }
  span {
    font-family: $primary-font-light;
  }
}

.h3 {
  font-size: 32px;
  line-height: 45px;
  margin: 0 0 25px 0;
  font-family: $primary-font-bold;
}

.h4 {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 15px 0;
  font-family: $primary-font-bold;
}

.h5 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: $secondary-font;
  letter-spacing: 1px;
  display: inline-block;
  border-bottom: 3px solid;
}

.h6 {
  font-size: 15px;
  line-height: 18px;
  margin: 0 0 18px 0;
  color: grey;
}

.p {
  font-size: 17px;
  line-height: 28px;
  margin: 0 0 20px 0;
  font-family: $primary-font-light;
  @include media-breakpoint-up(md) {
    font-size: 19px;
    line-height: 34px;
    margin: 0 0 20px 0;
  }
  &.leadin {
    font-size: 25px;
    line-height: 44px;
    font-family: $primary-font-light;
  }
  &.caption {
    font-size: 13px;
    letter-spacing: 0.1px;
    color: #757575;
    line-height: 24px;
    margin: 10px 0;
  }
}

.blockquote {
  border-left: 3px black solid;
  padding: 0px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  p {
    font-size: 30px;
    line-height: 45px;
    margin: 0;
  }
}

h1 {
  @extend .h1;
}

h2 {
  @extend .h2;
}

h3 {
  @extend .h3;
}

h4 {
  @extend .h4;
}

h5 {
  @extend .h5;
}

h6 {
  @extend .h6;
}

p {
  @extend .p;
}

blockquote {
  @extend .blockquote;
}

.t-light {
  h1, h2, h3, h4, h5, h6, p {
    color: white;
  }
  .cta-arrow {
    svg {
      circle {
        fill: transparent;
        stroke: white;
      }
      line {
        stroke: white;
      }
    }
  }
}

a {
  h1, h2, h3, h4, h5, h6, p {
    color: black;
  }
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6, p {
  a {
    text-decoration: none !important;
    position: relative;
    color: black;
    .t-light & {
      color: white;
    }
  }
}

.t-center {
  text-align: center;
}