.h1 {
  font-size: 60px;
  line-height: 72px;
  font-family: 'Silka regular';
  margin: 0 0 50px 0;
  span {
    font-family: 'Silka semibold';
  }
}

.h2 {
  font-size: 48px;
  line-height: 56px;
  font-family: 'Silka regular';
  margin: 0 0 20px 0;
  span {
    font-family: 'Silka semibold';
  }
}

.h3 {
  font-size: 36px;
  line-height: 50px;
  font-family: 'Silka regular';
  margin: 0 0 25px 0;
  span {
    font-family: 'Silka semibold';
  }
}

.h4 {
  font-size: 30px;
  line-height: 42px;
  font-family: 'Silka semibold';
  margin: 0 0 15px 0;
  span {
    font-family: 'Silka light';
  }
}

.h5 {
  font-size: 15px;
  line-height: 20px;
  font-family: 'Silka semibold';
  margin: 0 0 10px 0;
}

.h6 {
  font-size: 15px;
  line-height: 18px;
  font-family: 'Silka regular';
  margin: 0 0 18px 0;
  color: grey;
}

.p {
  font-size: 15px;
  line-height: 30px;
  margin: 0 0 20px 0;
  font-family: 'Silka regular';
  &.leadin {
    font-size: 20px;
    line-height: 37px;
  }
  strong {
    font-family: 'Silka semibold';
  }
}

.blockquote {
  border-left: 3px black solid;
  padding: 0px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  p {
    font-size: 30px;
    line-height: 45px;
    font-family: 'Silka medium';
    margin: 0;
  }
}

h1 {
  @extend .h1;
}

h2 {
  @extend .h2;
}

h3 {
  @extend .h3;
}

h4 {
  @extend .h4;
}

h5 {
  @extend .h5;
}

h6 {
  @extend .h6;
}

p {
  @extend .p;
}

blockquote {
  @extend .blockquote;
}

.t-light {
  h1, h2, h3, h4, h5, h6, p {
    color: white;
  }
}

h1, h2, h3, h4, h5, h6, p, li {
  a {
    text-decoration: none !important;
    position: relative;
    color: blue;
    .t-light & {
      color: white;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      height: 2px;
      bottom: -7px;
      left: 0;
      background: rgba($color: white, $alpha: 0);
      transition: 300ms width ease-in-out;
      .t-light & {
        background: rgba($color: white, $alpha: 0.3);
      }
    }

    &::after {
      content: "";
      display: block;
      width: 0%;
      position: absolute;
      height: 2px;
      left: 0;
      bottom: -7px;
      background: black;
      transition: 300ms width ease-in-out;
      .t-light & {
        background: rgba($color: white, $alpha: 1);
      }
    }

    &:hover {
      &::after {
          width: 100%;
      }
    }
  }
}

.t-center {
  text-align: center;
}