$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$body: #fcfcfc;

$primary-font-light: 'Manrope3 Light', helvetica, arial;
$primary-font-bold: 'Manrope3 Bold', helvetica, arial;
$primary-font-ex-bold: 'Manrope3 Extra Bold', helvetica, arial;

$secondary-font: 'Saira Condensed', sans-serif;