$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$body: #fcfcfc;


$gray-900: #16171a;
$gray-500: #727683;
$gray-300: #898d9b;

$white: #ffffff;

$primary-font-light: 'Circular', helvetica, arial;
$primary-font-bold: 'Circular Bold', helvetica, arial;

$secondary-font: 'PT Serif', serif;