/* ==========================================================================
Global Variables
========================================================================== */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700');

/* --- Typography --- */
$font-serif: Baskerville, serif;
$font-sans-serif: 'PT Sans', sans-serif;

/* --- Image Path --- */

$image-path: "../../images/";

/* --- Base Colours Black/White --- */

$color-white: #ffffff;
$color-black: #000000;

/* --- Font Primary Colours --- */
$font-primary-color: #2c3643;
$font-secondary-color: #558ac5;

$border-primary: rgba(255, 255, 255, 0.3);
$border-secondary: rgba(0, 0, 0, 0.07);

/* --- Link Colours --- */

$link-primary: #000000;
$link-primary-hover: #aaaaaa;

/* --- Rounded corners --- */

$round-corners: 3px;

/* --- Animations --- */

$base-duration: 300ms;
$link-animation: color $base-duration ease-in-out;

/* --- Grid panel sizing --- */

$outside-margin-lg: 65px;
$outside-margin-md: 40px;
$outside-margin-sm: 20px;

$grid-panel-padding: 2.1vw;
$grid-panel-padding-xl: 1.1vw;